.form {
  display: flex;
  flex-direction: column;
  width: 428px;
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 25px;
}
.form__input {
  height: 30px;
  border-radius: 4px;
  padding: 2px 10px;
  margin-bottom: 25px;
}
.form__btn {
  min-width: 100px;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #1884e3;
  color: #ffffff;
  border: 1px solid #1884e3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.form__btn:hover {
  background-color: #ffffff;
  color: #1884e3;
  border: 1px solid #1884e3;
}
